
/*Formatação de links*/

a{
    text-decoration: none;
    color: rgb(172, 208, 55);
    font-size: 1.3em;
}

nav a{
    position: relative;
    padding: 0 10px;
}

nav a:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background-color: green;
    transition: 0.5s;
}

nav a:hover:after{  
    width: 100%;
}

a:hover{
    text-decoration: none;
    color: green;
}


/*Formatação do topo*/

header{
    height: 100px;
    padding: 0 20px;
    background-color: rgb(214, 255, 133);
}

/*Formatação do conteudo*/

#conteudo{
    margin-top: 50px;
    width: 80%;
}

#conteudo img{
    border-radius: 80%;
    opacity: 0.9;
    margin-top: 50px;
}

article h2{
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    color: rgb(119, 119, 119);
}

article p{
    font-size: 1.4em;
    font-style: italic;
    opacity: 0.7;
    text-align: center;
}

article h6{
    text-align:center;
    padding: 20px 120px 0 0;
    font-style: italic;
    opacity: 0.8;
}