
/*Formatação de links*/

a, .btn{
    text-decoration: none;
    color: rgb(172, 208, 55);
    font-size: 1.3em;
}


nav li.linkTopo a{
    position: relative;
    padding: 5px 10px;
}

nav li.linkTopo a:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background-color: green;
    transition: 0.5s;
}

nav li.linkTopo a:hover:after{  
    width: 100%;
}

a:hover{
    text-decoration: none;
    color: green;
}


.linkTopo{
    margin-top: 5px;
}

/*Formatação do topo*/

header{
    height: 100px;
    padding: 0 20px;
    background-color: rgb(214, 255, 133);
}

/*Formatação do conteudo*/

#conteudo{
    margin-top: 50px;
    width: 80%;
}

#conteudo img{
    border-radius: 80%;
    opacity: 0.9;
    margin-top: 50px;
}

section h2{
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    color: rgb(119, 119, 119);
}

section p{
    font-size: 1.4em;
    font-style: italic;
    opacity: 0.7;
    text-align: center;
}

section h6{
    text-align:center;
    padding: 20px 120px 0 0;
    font-style: italic;
    opacity: 0.8;
}